[user]
	name = cmichi
	email = mich@elmueller.net
[merge]
	tool = vimdiff
[core]
	editor = vi
	excludesfile = /home/michi/.gitignore
[color]
	diff = true
	ui = false
[alias]
	unstage = rm --cached  
	ci = commit 
	st = status
	lg = log --pretty=format:'%h - %an, %ar : %s'
[push]
	default = tracking
[http]
	sslVerify = false
