# Mac's .DS_Store files 
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.fseventsd/
.VolumeIcon.icns
*._*
._.TemporaryItems/
.TemporaryItems/

# Temporary editor files and swaps 
*~
*.swp

# LaTeX
*.aux
*.glo
*.idx
#*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Directories
.Trash/
.Trashes/

# Eclipse Workspace Metadata
#.metadata/*

*.bash_machine_specific
