[user]
	name = cMichi 
	email = mich@elmueller.net 
[merge]
	tool = vimdiff
[core]
	editor = vim
	excludesfile = /Users/michi/.gitignore
[color]
	diff = true
	ui = true
[alias]
	unstage = rm --cached  
	ca = commit -a -m
	ci = commit 
	st = status
	lg = log --pretty=format:'%h - %an, %ar : %s'
[push]
	default = tracking
